 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Molecules IT <span class="glyphicon glyphicon-tint"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chemicals<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- Ajouter l'appel vers la page listant les éléments, puis les autres -->
                <li><a href="{{ path('chemicals_elements_list') }}">Elements</a></li>
                <li><a href="{{ path('chemicals_atoms_list') }}">Atoms</a></li>
                <li><a href="{{ path('chemicals_molecules_list') }}">Molecules</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data providers<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('chemicals_sample_elements') }}">Chemical elements creation</a></li>
              </ul>
            </li>
            <li>
                <a href="{{ path('fos_user_security_login') }}" >login</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
              </br> </br>
             