<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Chemicals Elements IT{% endblock %}</title>
    {% block stylesheets %}
        {% include 'inc/style.raw.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>

   {% block navbar %}
       {% include 'part/navbar.html.twig' %} 
   {% endblock %}

    <div class="container" role="main">
        {% block flashbag %}
            {% include 'inc/flashbag.html.twig' %}        
        {% endblock %}

        {% block jumbotron %}
{#            {%include 'part/jumbotron.html.twig' %}       #}
        {% endblock %}
         <div class="clearfix"></div>    
        <hr>
        {% block body %}{% endblock %}
        <div class="clearfix"></div>
        <hr>
        {% block footer %}
            {% include 'part/footer.html.twig' %}
        {% endblock %}
    </div> <!-- /container -->

    {% block javascripts %}
        {% include 'inc/javascript.raw.html.twig' %}
    {% endblock %}
  </body>
</html>


