{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for msg in app.session.flashBag.get('notice') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
