{% extends 'base.html.twig' %}

{% block title %} Add a new atom {% endblock %}

{% block body %}
    <div id="wrapper">
        <div id=container">
            <div id="welcome">
                <h1>Add a new atom</h1>
            </div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Add atom" class="btn btn-lg btn-success" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}