{% extends 'base.html.twig' %}

{% block title %}Element{%endblock %}

{% block body %}
    
    {% for item in element %}
    <h2>{{ item.name }}</h2>
    {% endfor %}

{{ dump(element) }}

{% endblock %}
