{% extends 'base.html.twig' %}

{% block title %}Elements{%endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Elements</h1>
            </div>
            
            {% if is_granted('ROLE_ADMIN') %}
                <p>
                    <a class="btn btn-lg btn-success" href="/admin/chemicals/elements/add" role="button">Create new element</a>
                </p>
            {% endif %}
            
            {% if elements is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of elements in database : <span class="badge">{{ elements | length }}</span></p>
                </div>
    	    {%  include 'part/pagination.html.twig' %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Formula</th>
			<th>Opération</th>
                    </tr>
                </thead>
                <tbody>
                {% for element in elements %}
                    <tr>
                        <td>{{ element.name }}</td>
                        <td>{{ element.formula }}</td>
                        <td><a href="{{ path("chemicals_element_see", {'id': element.id} ) }}">
                                <img src="{{ asset('bundles/framework/images/zoom-xl.png') }}" />
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path("chemicals_elements_edit", {'id': element.id} ) }}">
                                    <img src="{{ asset('bundles/framework/images/edit-xxl.png') }}" />
                                </a>
                                <a href="{{ path("chemicals_elements_delete", {'id': element.id} ) }}">
                                    <img src="{{ asset('bundles/framework/images/minus-5-xxl.png') }}" />
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>There is no element in the database.</p>
            {% endif %}
        </div>
    </div>
    {%  include 'part/pagination.html.twig' %}
{% endblock %}
