{% extends 'base.html.twig' %}

{% block title %}Molecule{%endblock %}

{% block body %}

    {% for item in molecule %}
    <h2>{{ item.name }} ({{ item.formula }})</h2>
    {% endfor %}
    
    {% for atom in linkAtoms %}
    <h4>{{ atom.name }}</h4>
    {% endfor %}
    
{{ dump(molecule) }}
{{ dump(linkAtoms) }}

{% endblock %}